/*
================================================================================
Buttons
================================================================================
*/

button {
    cursor: pointer;
    display: inline-block;
    font-size: rem($font-size);
    vertical-align: middle;

    &:disabled {
        @include disabled;
    }
}
