/*
================================================================================
Buttons
================================================================================

Sonata provides you with buttons for the most common uses,
but feel free to register as many as you need.

Optionally, color variants can easily be created with the `button` mixin.
*/


// Define the `border-radius` property for all buttons.
// The global `$radius` value is used by default.

$button-radius: $radius;


// Horizontal padding.

$button-padding-x: 1.25em;


// Vertical padding.

$button-padding-y: 0.75em;


/*
 * The neutral base class for any button.
 */
.btn {
    @include button((border-color: $color-gray-lighten-2));
    border-radius: $button-radius;
    padding: $button-padding-y $button-padding-x;
}


/* Types
============================================================================= */

.btn--primary {
    @include button((
        background-color: $color-primary,
        background-color-hover: lighten($color-primary, 3%),
        text-color: #fff
    ));
}

.btn--light {
    @include button((background-color: $color-gray-lighten-3));
}

.btn--white {
    @include button;
}

.btn--danger {
    @include button((background-color: $color-danger));
}

.btn--success {
    @include button((
        background-color: $color-success,
        text-color: #fff
    ));
}

.btn--blue--dashboard {
    @include button((
        background-color: #2D5B9F,
        text-color: #fff
    ));
}

.btn--blue {
    @include button((
        background-color: #2D5B9F,
        text-color: #fff
    ));
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-button__icon {
    background: #fff;
    border-radius: 3px;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
    float: left;
}
.google-button__icon img {
    align-self: center;
    display: block;
    height: 20px;
    margin-bottom: 0px;
}
.google-button {
    box-shadow: 1px 1px 3px #0000001a;
    display: flex;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 40px;
    padding: 3px;
    width: 230px;
    height: 48px;
    float: right;
}
.google-button__text {
    align-self: center;
    color: #fff;
    text-align: center;
    width: 184px;
}

/* Outline variants
================================================================================

Buttons that have a solid border and a transparent background in their
default state. They can be created with the `button-outline` mixin.
*/

.btn--outline-primary {
    @include button-outline;
}

/*
 * A white outlined button for dark backgrounds.
 */
.btn--outline-inverted {
    @include button-outline((
        background-color-hover: rgba(#fff, 0.15),
        text-color: #fff,
        text-color-hover: #fff
    ));
}


.btn--evaluate {
    @include button((
        background-color: #5a8,
        text-color: #fff
    ));
}


/* Loading
============================================================================= */

/*
 * This modifier replaces the button's text with a loading icon
 * to give users feedback when submitting.
 */
.btn--loading {
    color: transparent !important;
    position: relative;

    &::after {
        animation: spin 750ms linear infinite;
        border: 2px solid rgba(#000, 0.2);
        border-radius: 50%;
        content: "";
        display: block;
        height: 1.2em;
        @include position(absolute, calc(50% - 0.6em) null null calc(50% - 0.6em));
        width: 1.2em;
    }

    &:disabled {
        filter: none;
        opacity: 1;
    }
}


/* Size variants
============================================================================= */

.btn--xs {
    font-size: rem($font-size * 0.65);
    padding: ($button-padding-y * 0.75) ($button-padding-x * 0.75);
}

.btn--sm {
    font-size: rem($font-size * 0.8);
    padding: ($button-padding-y * 0.95) ($button-padding-x * 0.95);
}

.btn--lg {
    font-size: rem($font-size * 1.2);
    padding: ($button-padding-y * 1.1) ($button-padding-x * 1.2);
}

.btn--md {
    font-size: 0.8rem;
    padding: 0.9em;
}


/* Width variants
============================================================================= */

.btn--narrow {
    padding-left: $button-padding-x * 0.45;
    padding-right: $button-padding-x * 0.45;
}

.btn--wide {
    padding-left: $button-padding-x * 1.75;
    padding-right: $button-padding-x * 1.75;
}

.w-full {
    width: 100% !important;
}

.btn-login-header {
    display: none;
    @include media($menu-breakpoint) {
        padding: 0.5em 1em;
        font-size: 16px;
        display: block;
    }

}

.btn-login-menu {
    display: block;
    padding: 0.5em 1em;
    font-size: 13px;
    border: 1px solid #000000;
    color: #000000;
    @include media($menu-breakpoint) {
        display: none;
    }

}

.btn-login-user-icon {
    width: 20px;
    fill: currentColor;
}

.file-input .form-file__btn {
    @include button;
    border-radius: 3px !important;
    border: 1px solid #e0e3e6 !important;
}

.btn-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}