/*
================================================================================
Gallery panel
================================================================================
*/

.gallery-panel__showcase {
    display: flex;
    flex-wrap: wrap;
    margin: 0 #{-$gutter * 0.5} $spacer;
}

.gallery-panel__dropzone {
    align-items: center;
    background-color: $color-gray-lighten-5;
    border: 2px dashed $color-border;
    border-radius: $radius-lg;
    color: $color-gray-darken-2;
    display: flex;
    justify-content: center;
    text-align: center;
}

.gallery-panel__label {
    cursor: pointer;
    padding: 1em;

    &:focus,
    &:hover,
    &:active {
        text-decoration: underline;
    }

    @include media(sm) {
        padding: 2em;
    }
}


/* Item
============================================================================= */

.gallery-panel__item {
    background-color: $color-gray-lighten-5;
    display: block;
    flex: 0 0 auto;
    height: 100px;
    margin: $gutter * 0.5;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100px;

    &--invalid {
        border: 1px solid $color-danger;
        box-shadow: 0 0 5px 2px lighten($color-danger, 25%);

        &::before {
            background: url(icon-solid-warning()) no-repeat;
            content: "";
            display: block;
            height: 24px;
            @include position(absolute, 4px null null 4px);
            width: 24px;
            z-index: 1;
        }
    }
}

.gallery-panel__close-btn {
    background: rgba(#fff, 0.95) url(icon-close($color-danger, 16px)) no-repeat center center;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    display: block;
    height: 18px;
    padding: 0;
    @include position(absolute, 3px 3px null null);
    width: 18px;
    z-index: 1;
}

.gallery-panel__thumb {
    height: 100%;
    object-fit: cover;
    width: 100%;
}


/* Animations
============================================================================= */

.gallery-panel__item--enter-active,
.gallery-panel__item--leave-active {
    transition: all 300ms;
}

.gallery-panel__item--enter,
.gallery-panel__item--leave-to {
    opacity: 0;
    transform: scale(0.7) translateY(50px);
}