.objetive-container {
	background: url("../img/coverujed-lg.jpg") center center no-repeat;
    background-size: cover;
    display: inline-block;
    height: auto;
    width: 100%;
}

.objetive-overlay {
	background: #3a3f46e0;
    display: inline-block;
    height: auto;
    width: 100%;
}

.objetive-title {
	color:#ffffff;
	margin-bottom: 3em;
}

.objetive-text {
	color:#E7E9EC;
}