/*
================================================================================
Dashboard main
================================================================================
*/

.db-main {
    background-color: $color-gray-lighten-5;
    height: calc(100vh - 60px);
    overflow: auto;
    transition: padding-left 200ms linear;
    width: 100%;

    @include media(1100) {
        &--has-menu {
            padding-left: 300px;
        }
    }
}

.text_reset-pass {
    padding: 7px 0px 0px 0;    
    text-align: center;
}
.text_reset-pass a {
    font-size: 12px;
}

