.youtube-title {
    text-align: center;
    width: 100%;
    background-color: #B11830;
    padding: 12px 20px;
    color: #fff;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.youtube-title_video {
    text-align: left;
    width: 100%;
    background-color: #F0F2F3;
    padding: 12px 15px;
    color: #3A4148;
    font-size: 15px;
}

.youtube-link-container {
    text-align: center;
    width: 100%;
    background-color: #E7E9EC;
    padding: 12px 15px;
    color: #2D86B3;
    text-decoration: underline;
    font-size: 12px;
}