/*
================================================================================
List inline
================================================================================

Removes bullets from a list and displays its items in a single line.
*/

.list-inline {
    list-style: none;
    margin-left: 0;

    > li {
        display: inline-block;
    }

    > dd,
    > dt {
        display: inline;
    }

    > dt {
        &:first-child::before {
            height: 0;
        }

        &::before {
            content: "\A";
            display: block;
            height: 0;
            white-space: pre-wrap;
        }
    }
}

.list-inline--md > dt::before {
    height: 0.5em;
}