/*
================================================================================
Table scrollable
================================================================================

A wrapper for tables that automatically adds horizontal scrolling
when the table's width is large enough.
*/

.table-scrollable {
    -webkit-overflow-scrolling: touch;
    margin-bottom: $spacer * 2;
    overflow-x: auto;

    > table {
        margin-bottom: 0;
    }
}
